body{
    background-color: black;
    color: white;
    font-family: 'New Rocker', cursive;
    text-align: center;
    scroll-behavior: smooth;
    margin: 0px;
}

img {
    width: 100%;
    height: auto;
}

a{
    color: white;
}
header{
    font-size: 0.7em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 5px 2em;
    margin-top: -5px;
    z-index: 100;
}

header figure img {
    max-width: 90px;
    min-width: 70px;
    margin: 0px auto;
}
header figure {
    margin: 10px 3px;
}
header figure a {
    padding: 0px;
}
header a{
    color: white;
    font-family: 'New Rocker', cursive;
    padding: 5px;
}
header h2 {
    font-size: 1.6em;
}

#crnina{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: black;
    margin-top: -10px;
    z-index: 99;
}
main {
    padding-top: 50px;
    text-align: center;
}
main nav {
    margin: 5px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

section {
    margin: 5px;
}

h1 {
    font-size: 3rem;
    margin: 20px 5px;
}
h2{
    font-size: 1.5rem;
}
p {
    padding: 5px;
}

footer{
    margin: 50px 5px;
}
.footnav >*{
    padding: 5px;
    font-size: 0.8rem;
}

.flex {
    display: flex;
    flex-direction: row;
}