body{
    background-color: black;
    color: white;
    font-family: 'New Rocker', cursive;
    scroll-behavior: smooth;
    margin: 0px;
}

img {
    width: 100%;
    height: auto;
}

a{
    color: white;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 5px 2em;
    margin-top: -5px;
    z-index: 100;
}

header figure img {
    max-width: 100px;
    min-width: 80px;
}
header figure {
    margin: 10px 15px;
}
header a{
    color: white;
    font-family: 'New Rocker', cursive;
}

#crnina{
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: black;
    margin-top: -10px;
    z-index: 99;
}
main {
    padding-top: 80px;
    text-align: center;
}
main nav {
    margin: 5px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main section {
    margin: 5px;
}
footer{
    height: 1000px;
}