.next_up img {
    max-width: 50%;
}

main section {
    margin: 10px 10px 100px 10px; 
}

@media only screen and (min-width: 600px){
    /*Tablets [601px -> 800px]*/
    main {
        margin:  0px 10%;
    }
  }
  @media only screen and (min-width: 800px){
    /*Tablets [601px -> 800px]*/
    main {
        margin:  0px 20%;
    }
  }
  @media only screen and (min-width: 1000px){
    /*big screens [>1000]*/
    main {
        margin:  0px 30%;
    }
  }