
#members {
  margin: 10px auto;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  width: 95vw;
}

#members >* {
  height: 100vh;
  width: 95vw;
  scroll-snap-align: start;
}
h1 {
    font-size: 4rem;
}