
#members {
  margin: 10px auto;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  width: 95vw;
}

#members >* {
  height: 100vh;
  width: 95vw;
  scroll-snap-align: start;
}

 #members img {
   max-height: 60vh;
   width: auto;
  }
h1{
  padding-top: 20px;
  margin: 5px;
}
@media only screen and (min-width: 600px){
  /*Tablets [601px -> 800px]*/
  p {
    max-width: 550px;
    margin: 5px auto;
  }
}
@media only screen and (max-height: 600px){
  /*Tablets [601px -> 800px]*/
  p {
    font-size: 0.7rem;
  }
  main h2 {
    margin: 1rem;
    font-size: 1.5rem;
  }
  #members img {
    max-height: 55vh;
   }

}