
#members {
  margin: 10px auto;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  width: 95vw;
}

#members >* {
  height: 100vh;
  width: 95vw;
  scroll-snap-align: start;
}

 #members img {
   max-height: 60vh;
   width: auto;
  }
h1{
  padding-top: 20px;
  margin: 5px;
}